<!DOCTYPE html>
<html>
<head>
  <title>Meme Video's Dude</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
  <li><a href="/">Home</a></li>
  <li><a href="/upload">Upload</a></li>
</nav>
<%= yield %>
</body>
</html>