<form action='/videos/upload' method="post">
  <div>Title<input type="text" name="title" id="title" id="title"autofocus></div>
  <div>URL<input type="text" name="url" id="url" id="url"></div>
  <div>Genre<input type="text" name="genre" id="genre" id="genre"></div>
  <button>Submit</button>
</form>